.item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 25px;
}

.item > span {
    padding: 0 10px;
}

.item .clicks {
    color: #1ABC9C;
    font-size: 1.5rem;
    text-align: center;
    line-height: 125%;
}

.item .clicks em {
    font-size: 1.125rem;
}

.item .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

.item .actions a {
    margin-right: 20px;
}

.item .content .source {
    font-size: 1.5rem;
}

.item .content .target {
    color: #BDC3C7;
    font-size: 1.125rem;
}

.item .content .target a {
    color: #BDC3C7;
}